<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <style>
      html, body {
        height: 100%;
        padding: 0;
        margin: 0;
      }
      #map {
        /* configure the size of the map */
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div>
      <select class="form-control" name="example" id="countries" onchange="onChangeCountry()">
        <option value="0">Country</option>
      </select> <select class="form-control" name="clientname" id="provinces" onchange="onChangeProvince()">
        <option value="0">Province</option>
      </select>
      </select> <select class="form-control" name="clientname" id="subprovinces">
        <option value="0">Subprovince</option>
      </select>
      <button id="w-button-search" type="button" onclick="getAreaOnClick()">Search</button>
    </div>
    <div>
      <label for="latitude">Latitude:</label>
      <input type="text" id="latitude" name="latitude" style="width: 54px;">
      <label for="longitude">Longitude:</label>
      <input type="text" id="longitude" name="longitude" style="width: 54px;">
      <label for="radius">Radius(Default 500m):</label>
      <input type="text" id="radius" name="radius" style="width: 54px;">
      <button id="w-button-search" type="button" onclick="getAreaOnClickManualInput()">Search</button>
    </div>
    <div id="map"></div>

    <p id="demo"></p>
    <script>
    // initialize Leaflet
    //Ankara area setted
    var map = L.map('map').setView([39.925533, 32.866287], 11);

    // add the OpenStreetMap tiles
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
    }).addTo(map);

    // show the scale bar on the lower left corner
    L.control.scale().addTo(map);

    var countries = document.getElementById("countries");
    var provinces = document.getElementById("provinces");
    var subprovinces = document.getElementById("subprovinces");
    var coordinates = document.getElementById("coordinates");

    // Get request for countries
    $.ajax({
      url: "http://192.168.30.90:8080/mapservice/countries",
      type: "GET",
      success: function (data) {
        loadAllCountries(data);
      },
      error: function (error) {
        console.log(`Error ${error}`);
      }
    })

    // Load all countries from database
    function loadAllCountries(data) {
        for (var i = 0; i < data.length; i++) {
            var currentCountry = data[i];
                addCountry(currentCountry);
        }
    }
    
    // Add each country one by one
    function addCountry(currentCountry) {
            var option = document.createElement("option");
            option.text = currentCountry.name;
            option.value = currentCountry.id;
            countries.appendChild(option);
    }

    // Add each province one by one for selected country
    function addProvince(currentCountry) {
            var countryId = currentCountry.id;
            $.ajax({
              url: "http://192.168.30.90:8080/mapservice/provinces/" + countryId,
              type: "GET",
              success: function (data) {
                //console.log(data);
                
                for (var i = 0; i < data.length; i++){
                  var option = document.createElement("option");
                  option.text = data[i].name;
                  option.value = data[i].id;
                  provinces.appendChild(option);
                }

                provinces.selectedIndex = 0;
              },
              error: function (error) {
                console.log(`Error ${error}`);
              }
            })    
    }

    // Add each subprovince one by one for selected province
    function addSubprovince(currentProvince) {
            var provinceId = currentProvince.id;
            $.ajax({
              url: "http://192.168.30.90:8080/mapservice/subprovinces/" + provinceId,
              type: "GET",
              success: function (data) {
                //console.log(data);
                for (var i = 0; i < data.length; i++){
                  var option = document.createElement("option");
                  option.text = data[i].name;
                  option.value = data[i].id;
                  subprovinces.appendChild(option);
                }
                subprovinces.selectedIndex = 0;
              },
              error: function (error) {
                console.log(`Error ${error}`);
              }
            })
            
    }

    // Find selected country id
    function findCountryById(country) {
            return country.id == countries.value;
    }

    // Find selected province id
    function findProvinceById(province) {
            return province.id == provinces.value;
    }
    
    // Find selected subprovince id
    function findSubprovinceById(subprovince) {
            return subprovince.id == subprovinces.value;
    }        

    // Clear drop-down list
    function clearDropdownlist(ddl) {
            while (ddl.firstChild) {
                ddl.removeChild(ddl.firstChild);
            }
            var option = document.createElement("option");
            option.text = "--Select--";
            option.value = 0;
            ddl.appendChild(option);
    }

    // Populate provinces related to selected country on change country drop-down
    function onChangeCountry() {
            $.ajax({
            url: "http://192.168.30.90:8080/mapservice/countries",
            type: "GET",
            success: function (data) {
              //console.log(data);
              var selectedCountry = data.find(findCountryById);
              clearDropdownlist(provinces);
              clearDropdownlist(subprovinces);
              addProvince(selectedCountry);
              //console.log(selectedCountry);
              },
            error: function (error) {
              console.log(`Error ${error}`);
              }
            })
    }

    // Populate provinces related to selected country on change country drop-down
    function onChangeProvince() {
      $.ajax({
        url: "http://192.168.30.90:8080/mapservice/countries",
        type: "GET",
        success: function (data) {
          var selectedCountry = data.find(findCountryById);
          $.ajax({
            url: "http://192.168.30.90:8080/mapservice/provinces/" + selectedCountry.id,
            type: "GET",
            success: function (data) {
              var selectedProvince = data.find(findProvinceById);
              clearDropdownlist(subprovinces);
              addSubprovince(selectedProvince);
              //console.log(selectedProvince);
            },
            error: function (error) {
              console.log(`Error ${error}`);
            }
          })
        },
        error: function (error) {
          console.log(`Error ${error}`);
        }
      })
    }

    // Empty circle
    var circle = L.circle();

    //Emty marker array
    var markerArr = new Array();
    
    // Get search radius from user input
    function getSearchRadius(){
      var searchRadius = document.getElementById("radius").value;
      // Default radius
      if (searchRadius === ""){
        searchRadius = 500;
      }
      console.log(searchRadius);
      return searchRadius;
    }

    // Set displayed map based on circle
    function setBounds(bounds){
      map.fitBounds(bounds);
    }

    // Put circle to the selected latitude and longitude
    function drawCircle(latLng, searchRadius){
      circle
      .setLatLng(latLng)
      .setStyle({
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.2
      })
      .setRadius(searchRadius);
      map.addLayer(circle);
    }

    // Get active circle's latitudes and longitudes
    function getActiveCircleBounds() {
      var circleBounds = circle.getBounds();
      console.log(circleBounds);
      return circleBounds;
    }

    function markLocationsInCircle(data) {
        for (var i = 0; i < data.length; i++) {
          var lat = data[i].latitude;
          var lng = data[i].longitude;
          latLng = [lat, lng];
          var marker = new L.marker(latLng);
          markerArr.push(marker);
          map.addLayer(marker);
        }
      }

    function deleteMarkLocationsInCircle() {
        for (var i = 0; i < markerArr.length; i++) {
          map.removeLayer(markerArr[i]);
        }
      }

    // Search function
    function getAreaOnClick() {
      $.ajax({
            url: "http://192.168.30.90:8080/mapservice/countries",
            type: "GET",
            success: function (data) {
              var selectedCountry = data.find(findCountryById);
              $.ajax({
                url: "http://192.168.30.90:8080/mapservice/provinces/" + selectedCountry.id,
                type: "GET",
                success: function (data) {
                  var selectedProvince = data.find(findProvinceById);
                  $.ajax({
                    url: "http://192.168.30.90:8080/mapservice/subprovinces/" + selectedProvince.id,
                    type: "GET",
                    success: function (data) {
                      var selectedSubprovince = data.find(findSubprovinceById);
                      $.ajax({
                        url: "http://192.168.30.90:8080/mapservice/coordinates/" + selectedSubprovince.id,
                        type: "GET",
                        success: function (data) {
                          //console.log(data);
                          var latLng = [data[0].latitude, data[0].longitude];
                          var searchRadius = getSearchRadius();
                          drawCircle(latLng, searchRadius);
                          var circleBounds = getActiveCircleBounds();
                          setBounds(circleBounds);
                          $.ajax({
                            url: "http://192.168.30.90:8080/mapservice/eventsinrange/" + latLng[0] + "/" + latLng[1] + "/" + searchRadius,
                            type: "GET",
                            success: function (data) {
                              console.log(data);
                              deleteMarkLocationsInCircle();
                              markLocationsInCircle(data);
                            },
                            error: function (error) {
                              console.log(`Error ${error}`);
                            }
                          })
                        },
                        error: function (error) {
                          console.log(`Error ${error}`);
                        }
                      })
                    },
                    error: function (error) {
                      console.log(`Error ${error}`);
                    }
                  })
                },
                 error: function (error) {
                  console.log(`Error ${error}`);
                }
              })
            },
            error: function (error) {
              console.log(`Error ${error}`);
            }
          })
    }

    // Manual search function
    function getAreaOnClickManualInput(){
      var latitude = document.getElementById("latitude").value;
      var longitude = document.getElementById("longitude").value;
      //Center of circle
      var latLng = [latitude, longitude];
      var searchRadius = getSearchRadius();
      drawCircle(latLng, searchRadius);
      var circleBounds = getActiveCircleBounds();
      setBounds(circleBounds); 
      $.ajax({
        url: "http://192.168.30.90:8080/mapservice/eventsinrange/" + latitude + "/" + longitude + "/" + searchRadius,
        type: "GET",
        success: function (data) {
          console.log(data);
          deleteMarkLocationsInCircle();
          markLocationsInCircle(data);
        },
        error: function (error) {
          console.log(`Error ${error}`);
        }
      })
       
    }

    </script>
  </body>
</html>
